[submodule "twittering-mode"]
	path = twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "navi2ch"]
	path = navi2ch
	url = git://navi2ch.git.sourceforge.net/gitroot/navi2ch/navi2ch
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "direx"]
	path = direx
	url = https://github.com/m2ym/direx-el.git
[submodule "popwin"]
	path = popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "popup"]
	path = popup
	url = https://github.com/m2ym/popup-el.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "ruby-mode"]
	path = ruby-mode
	url = https://github.com/djwhitt/ruby-mode.git
[submodule "rhtml"]
	path = rhtml
	url = https://github.com/eschulte/rhtml
