[submodule "twittering-mode"]
	path = twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "navi2ch"]
	path = navi2ch
	url = git://navi2ch.git.sourceforge.net/gitroot/navi2ch/navi2ch
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
