[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "direx"]
	path = direx
	url = https://github.com/m2ym/direx-el.git
[submodule "popwin"]
	path = popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "popup"]
	path = popup
	url = https://github.com/auto-complete/popup-el
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "rhtml"]
	path = rhtml
	url = https://github.com/eschulte/rhtml
[submodule "ri-emacs"]
	path = ri-emacs
	url = https://github.com/pedz/ri-emacs.git
[submodule "flymake-ruby"]
	path = flymake-ruby
	url = https://github.com/purcell/flymake-ruby.git
[submodule "ruby-debug-extra"]
	path = ruby-debug-extra
	url = https://github.com/ruby-debug/ruby-debug-extra.git
[submodule "yasnippets-rspec"]
	path = yasnippets-rspec
	url = https://github.com/gary/yasnippets-rspec.git
[submodule "emacs-window-manager"]
	path = emacs-window-manager
	url = https://github.com/kiwanami/emacs-window-manager.git
[submodule "emacs-window-layout"]
	path = emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout.git
[submodule "flymake-easy"]
	path = flymake-easy
	url = git://github.com/purcell/flymake-easy.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "helm"]
	path = helm
	url = git://github.com/emacs-helm/helm.git
[submodule "undo-tree"]
	path = undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "helm-git"]
	path = helm-git
	url = git://github.com/maio/helm-git.git
[submodule "dash-at-point"]
	path = dash-at-point
	url = git://github.com/stanaka/dash-at-point.git
[submodule "auto-complete-etags"]
	path = auto-complete-etags
	url = git://github.com/whitypig/auto-complete-etags.git
[submodule "etags-table"]
	path = etags-table
	url = git://github.com/emacsmirror/etags-table.git
[submodule "cucumber.el"]
	path = cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "eproject"]
	path = eproject
	url = git://repo.or.cz/eproject.git
[submodule "yard-mode.el"]
	path = yard-mode.el
	url = https://github.com/pd/yard-mode.el.git
